<div class="row">
    <div class="col-xs-12 col-md-6 col-md-offset-3">
        <p *ngIf="isFetching; else postsContainer">Loading ...</p>
        <ng-template #postsContainer>
            <p *ngIf="posts.length < 1">No posts available</p>
            <ul class="list-group" *ngIf="posts.length >= 1">
                <li *ngFor="let post of posts" class="list-group-item">
                    <h1>{{post.title}}</h1>
                    <p>{{post.content}}</p>
                </li>
            </ul>
        </ng-template>
    </div>
</div>