<div class="row">
    <h3>Custom code</h3>
    <div class="row">
        <input type="text" class="form-control" #customInput>
        <button (click)="onSubmit()" class="btn btn-success">Submit</button>
    </div>
    <hr />

    <div class="row">
        <div class="col-xs-12">
            <app-game-control (intervalFired)="onIntervalFired($event)"></app-game-control>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <app-odd *ngFor="let oddNumber of oddNumbers" [number]="oddNumber"></app-odd>
            <app-even *ngFor="let evenNumber of evenNumbers" [number]="evenNumber"></app-even>
        </div>
    </div>

    <div class="row">
        <p appElementBehavior [defaultColor]="'yellow'">Hello</p>
    </div>
</div>